# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# IDE / editor files
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Output files
out/
*.xlsx
*.csv

# Secrets / local config
.env

#Ignore Files
.src/*.ipynb